body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#homeImg{
  height:500px;
}

#servicesImg{
  height:500px;
}

#aboutImg{
  height:500px;
}

.footer{
  background-color: rgb(222, 228, 228);
  bottom:0;
  position:fixed;
  width: 100%;

}

#about{
  text-align: left;
  display: flex;
  background-color: rgb(195, 228, 255);
  border-color: black;
  border: solid;
}

ul{
  list-style-type: none;
}

li{
  font-size: 20px;
}

.box{
  border-style: solid;
  text-align: left;
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  background-color: rgb(247, 255, 175);
  border-radius: 20px;
}

.services{
  display: flex;
  justify-content: center;
}

.fa-solid fa-paw{
  color:aqua
}

.tb {
  border:1px solid;
  font-size: 25px;
  padding: 25px;
  
}

.needAccount{
  margin: 50px;;
}

.lb1{
  font-size: 20px;
}

.login{
  border: solid;
  border-radius: 25px;
  width: 270px;
  margin:auto;
  background-color: rgb(197, 233, 243);
  padding: 10px;
}

.inputs{
  padding: 20px;
}

.button{
  background-color: black;
  color:white;
  border-radius: 10px;
}

img{
  border-radius: 20px; 
}

.logout-Button{
   border:none;
   background-color:white;
}

table{
  margin-left: auto;
  margin-right: auto;
  padding:25px;
}

#newAppt{
  font-size: 25px;
}

.form{
  padding:5px;
  
}

.apptForm{
  border: solid;
  border-radius: 25px;
  width: 300px;
  margin-left:auto;
  margin-right:auto;
  margin-bottom: 20px;
  margin-top:20px;
  background-color: rgb(197, 233, 243);
  padding: 5px;
  font-size:20px;
}